{% extends 'claims/base.html' %}


{% block content %}
{% if user == object.user %}
{% csrf_token %}
    <h1 class="my-4">Detail -
        <small>{{ object.name|title }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>User:</strong> {{ user }}</li>
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Mobile No:</strong> {{ object.mobile_no }}</li>
              <li class="list-group-item"><strong>Vehicle Year Make:</strong> {{ object.vehicle_year_make }}</li>
              <li class="list-group-item"><strong>Vehicle Model:</strong> {{ object.vehicle_model }}</li>
              <li class="list-group-item"><strong>Vehicle No:</strong> {{ object.vehicle_no}}</li>
              <li class="list-group-item"><strong>Date & Time:</strong> {{ object.date_and_time }}</li>
              <li class="list-group-item"><strong>Location:</strong> {{ object.location }}</li>
              <li class="list-group-item"><strong>Type of loss:</strong> {{ object.type_of_loss }}</li>
              <li class="list-group-item"><strong>Description of Loss:</strong> {{ object.description_loss }}</li>
              <li class="list-group-item"><strong>Police Report Lodged ?</strong> {{ object.police_report_lodged }}</li>
              <li class="list-group-item"><strong>Anybody Injured ?</strong> {{ object.anybody_injured }}</li>
              <li class="list-group-item"><strong>Photo:</strong> {{ object.photo }}</li>
              <li class="list-group-item"><strong>Covernote:</strong> {{ object.cover_note }}</li>
              <li class="list-group-item"><strong>Application Status:</strong> {{ object.status }}</li>
            </ul>
        </div>
    </div>
    
    <div class="row top-buffer">
        <div class="col-12">
            {% if object.status != 'Accepted' %}
                <a href="{% url 'claim_edit' object.id %}"><button type="button" class="btn btn-success">Edit</button></a>
            {% endif %}
                <a href="{% url 'claim_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
            
        </div>
    </div>

{% endif %}
{% endblock %}
