{% extends 'claims/base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Insurance Claim</small>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
                
                    <div class="col-12" style="overflow-x: scroll">
                        <table class="table table-bordered">
                        <thead class="table-info">
                            <tr >
                                <th scope="col">Name</th>
                                <th scope="col">Vehicle No</th>
                                <th scope="col">Vehicle Model</th>                               
                                <th scope="col">Status</th>
                                <th scope="col">View</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>

                     
            {% for item in object_list  %}
               
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.vehicle_no }}</td>
                                <td>{{ item.vehicle_model }}</td>
                                <td>{{ item.status }}</td>
                                <td><a href="{% url 'claim_view' item.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>

                                {% if item.status != 'Accepted' %}
                                <td><a href="{% url 'claim_delete' item.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                                {% endif %}
                            
                            </tr>


            {% endfor %}

                    <div class="col-12">
                        <div class="alert alert-warning" role="alert">
                            You can add more than one claim! Add <a class="badge badge-info" href="{% url 'claim_new' %}"><strong>here.</strong></a>
                        </div>
                    </div>

                    
                    
                    
                    </tbody>
                    </table>
                </div>
            
            
            
          
        
    </div>
{% endblock %}